{"openapi":"3.0.0","paths":{"/ens/v1/profile/{name}":{"get":{"description":"Retrieve comprehensive profile information for an ENS name including addresses, texts, and content hash","operationId":"EnsForwardResolutionController_getEnsProfile","parameters":[{"name":"name","required":true,"in":"path","description":"ENS name (e.g., \"vitalik.eth\")","schema":{"minLength":6,"maxLength":256,"example":"vitalik.eth","type":"string"}},{"name":"noCache","required":false,"in":"query","description":"Skip cache and fetch fresh data","schema":{"default":false,"type":"boolean"}}],"responses":{"200":{"description":"ENS profile data retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnsProfile"}}}},"400":{"description":"Invalid ENS name format"},"404":{"description":"ENS name not found or not registered"}},"summary":"Get ENS Profile","tags":["Forward Resolution"]}},"/ens/v1/addresses/{name}":{"get":{"description":"Retrieve cryptocurrency addresses associated with an ENS name","operationId":"EnsForwardResolutionController_getEnsAddresses","parameters":[{"name":"name","required":true,"in":"path","description":"ENS name (e.g., \"vitalik.eth\")","schema":{"minLength":6,"maxLength":256,"example":"vitalik.eth","type":"string"}},{"name":"noCache","required":false,"in":"query","description":"Skip cache and fetch fresh data","schema":{"default":false,"type":"boolean"}},{"name":"coins","required":false,"in":"query","description":"Array of coin types to retrieve (e.g., [60, 0] for ETH and BTC)","schema":{"example":[60,0],"type":"array","items":{"type":"number"}}}],"responses":{"200":{"description":"ENS addresses retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnsAddressRecord"}}}}},"400":{"description":"Invalid ENS name format or coin type"},"404":{"description":"ENS name not found or no addresses configured"}},"summary":"Get ENS Addresses","tags":["Forward Resolution"]}},"/ens/v1/texts/{name}":{"get":{"description":"Retrieve text records associated with an ENS name (e.g., avatar, description, keywords)","operationId":"EnsForwardResolutionController_getEnsTexts","parameters":[{"name":"name","required":true,"in":"path","description":"ENS name (e.g., \"vitalik.eth\")","schema":{"minLength":6,"maxLength":256,"example":"vitalik.eth","type":"string"}},{"name":"noCache","required":false,"in":"query","description":"Skip cache and fetch fresh data","schema":{"default":false,"type":"boolean"}},{"name":"keys","required":false,"in":"query","description":"Array of text record keys to retrieve (e.g., [\"avatar\", \"description\"])","schema":{"example":["avatar","description","keywords"],"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"ENS text records retrieved successfully","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnsTextRecord"}}}}},"400":{"description":"Invalid ENS name format"},"404":{"description":"ENS name not found or no text records configured"}},"summary":"Get ENS Text Records","tags":["Forward Resolution"]}},"/ens/v1/contenthash/{name}":{"get":{"description":"Retrieve the content hash associated with an ENS name (IPFS, IPNS, or other content identifiers)","operationId":"EnsForwardResolutionController_getEnsContenthash","parameters":[{"name":"name","required":true,"in":"path","description":"ENS name (e.g., \"vitalik.eth\")","schema":{"minLength":6,"maxLength":256,"example":"vitalik.eth","type":"string"}}],"responses":{"200":{"description":"ENS content hash retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"contenthash":{"type":"string","description":"Content hash value (IPFS hash, IPNS key, etc.)"}}}}}},"400":{"description":"Invalid ENS name format"},"404":{"description":"ENS name not found or no content hash configured"}},"summary":"Get ENS Contenthash","tags":["Forward Resolution"]}},"/ens/v1/reverse/bulk":{"post":{"description":"Resolve multiple Ethereum addresses to their primary ENS names in a single request","operationId":"EnsReverseResolutionController_bulkReverseResolve","parameters":[],"requestBody":{"required":true,"description":"Request containing array of addresses to reverse resolve","content":{"application/json":{"schema":{"type":"object","properties":{"addresses":{"type":"array","items":{"type":"string"},"example":["0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045","0x225f137127d9067788314bc7fcc1f36746a3c3B5"]},"noCache":{"type":"boolean","description":"Skip cache and fetch fresh data","default":false}},"required":["addresses"]}}}},"responses":{"200":{"description":"Bulk reverse resolution completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkReverseResolveResult"}}}},"400":{"description":"Invalid address format or empty address array"}},"summary":"Bulk Reverse Resolve","tags":["Reverse Resolution"]}},"/ens/v1/reverse/single/{address}":{"post":{"description":"Resolve a single Ethereum address to its primary ENS name","operationId":"EnsReverseResolutionController_reverseResolve","parameters":[{"name":"address","required":true,"in":"path","description":"Ethereum address (e.g., \"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045\")","schema":{"example":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045","type":"string"}}],"responses":{"200":{"description":"Reverse resolution completed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkReverseResolveResult"}}}},"400":{"description":"Invalid Ethereum address format"}},"summary":"Reverse Resolve Single Address","tags":["Reverse Resolution"]}}},"info":{"title":"Resolvio — ENS Resolution API","description":"Resolvio is the ENS Resolution API: a unified REST interface for ENS resolution (forward and reverse) with plans to extend support to other naming systems.","version":"1.0.0","contact":{"name":"Development Team","url":"https://namespace.ninja","email":"arti@namespace.ninja"},"license":{"name":"MIT","url":"https://opensource.org/licenses/MIT"}},"tags":[{"name":"ENS","description":"Ethereum Name Service resolution endpoints"},{"name":"Resolution","description":"General resolution endpoints"}],"servers":[{"url":"https://resolvio.namespace.ninja/","description":"Resolvio - Universal Web3 Name Resolution"}],"components":{"schemas":{"TextRecord":{"type":"object","properties":{}},"AddressRecord":{"type":"object","properties":{}},"EnsProfile":{"type":"object","properties":{"name":{"type":"string","description":"ENS name that was resolved","example":"vitalik.eth"},"texts":{"description":"Array of text records associated with the ENS name","type":"array","items":{"$ref":"#/components/schemas/TextRecord"}},"addresses":{"description":"Array of cryptocurrency addresses associated with the ENS name","type":"array","items":{"$ref":"#/components/schemas/AddressRecord"}},"contenthash":{"type":"string","description":"Content hash associated with the ENS name (IPFS, IPNS, etc.)","example":"ipfs://QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG"},"resolver":{"type":"string","description":"Address of the ENS resolver contract","example":"0x4976fb03C32e5B8cfe2b6cA31A7e9D2b6c7c5c5c5c"}},"required":["name","resolver"]},"EnsAddressRecord":{"type":"object","properties":{"coin":{"type":"number","description":"Coin type identifier (e.g., 60 for ETH, 0 for BTC)","example":60},"name":{"type":"string","description":"Human-readable coin name","example":"eth"},"address":{"type":"string","description":"Cryptocurrency address","example":"0x742d35Cc6634C0532925a3b8D4C9db96C4b4d8b6"}},"required":["coin","name","address"]},"EnsTextRecord":{"type":"object","properties":{"key":{"type":"string","description":"Text record key","example":"avatar"},"value":{"type":"string","description":"Text record value","example":"https://example.com/avatar.jpg"}},"required":["key","value"]},"ReverseResolveResult":{"type":"object","properties":{"name":{"type":"string","description":"Primary ENS name for this address (if reverse record is set)","example":"vitalik.eth"},"hasReverseRecord":{"type":"boolean","description":"Whether a reverse record exists for this address","example":true},"address":{"type":"string","description":"Ethereum address","example":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"}},"required":["hasReverseRecord","address"]},"BulkReverseResolveResult":{"type":"object","properties":{"result":{"description":"Array of reverse resolution results","type":"array","items":{"$ref":"#/components/schemas/ReverseResolveResult"}}},"required":["result"]}}}}